<%- include('../partials/headerS') %>
    <!-- Partials item -->
    <main class="container">
        <section class="item shadow-lg">
            <picture class="item__img card-item__cover">
                <img class="card-item__img--front" src="../../multimedia<%= item.image_front %>"
                    alt="<%= item.item__description %>" srcset="">
                <img class="card-item__img--back" src="../../multimedia<%= item.image_back %>"
                    alt="<%= item.item__description %>">
            </picture>
            <article class="item--info">
                <p class="item__licence">
                    <%= item.product_licence %>
                </p>
                <h3 class="item__name">
                    <%= item.product_name %>
                </h3>
                <p class="item__description">
                    <%= item.product_description %>
                </p>
                <p class="item__price">$ <%= item.price %>.-</p>
                <div class="item__cart">
                    <input class="item__input" type="text" name="quantity" id="quantity" placeholder="0">
                    <div class="item__select">
                        <button class="item__quantity agregar" id="add" type="button">+</button>
                        <button class="item__quantity quitar" id="subtract" type="button">-</button>
                    </div>
                    <button class="item__submit btn btn--primary btn--medium">Agregar al carrito</button>

                </div>
                <p class="item__promo text-info"><a href="">Ver métodos de pago</a> - 3 CUOTAS SIN INTERÉS</p>
            </article>
        </section>
        <%- include('../components/slider') %>
    </main>
    <%- include('../partials/footerS') %>